---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="How Pizza Games was formed"
	pubDate={new Date('March 16 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Pizza Games has a whole backstory you probably don't know.
	</p>

	<p>
		I started my first game site 3 years ago because I had free time in school after class. It
		wasn't the best though. The method for embedding games I used was terrible. I also hid it
		behind a fake coffee shop website named Chatterbox.
	</p>

	<p>
		Eventually, I had to take it down. But that didn't stop me from playing on it on my own time.
		Later, 1 year later, I threw together another site, and it went school-wide. It would contantly
		get blocked and I would constantly be changing the name.
	</p>

	<p>
		It was all fun and games until I found out about unenrollment exploits and I didn't need it
		anymore. It was also all fun and games until I had to remove it.*
	</p>

	<p>
		And it happened again, I made a new site because the glitch I used got patched and I wanted to
		provide games for not just me, but to whoever wants to play on it.**
	</p>
	<p>
		*Don't try this at home, or school.
	</p>
	<p>
		**Get permission from your school teacher/advisor before playing.
	</p>
</Layout>
