---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🍕Welcome🍕</h1>
			<p>
				Welcome to the official <a href="https://sites.google.com/view/docs-drive-1">Pizza Games</a> blog. Over
				25 games and 2 proxies so eliminate internet censorship and boredom. This will be the place to find
				sneak peaks and updates to Pizza Games.
			</p>
			<p>Here are some games from Pizza Games:</p>
			<ul>
				<li><a href="https://sites.google.com/view/docs-drive-1/roblox">Roblox</a></li>
				<li><a href="https://sites.google.com/view/docs-drive-1/minecraft1-8">Eaglercraft</a></li>
				<li><a href="https://sites.google.com/view/docs-drive-1/granny1">Granny 1</a></li>
				<li><a href="https://sites.google.com/view/docs-drive-1/granny2">Granny 2</a></li>
				<li><a href="https://sites.google.com/view/docs-drive-1/cookie-clicker">Cookie Clicker</a></li>
				<li><a href="https://sites.google.com/view/docs-drive-1/subway-surfers">Subway Surfers</a></li>
				<li><a href="https://sites.google.com/view/docs-drive-1/">And many more...</a></li>
			</ul>
			<p>
				Have fun! Remember to check if the main instance of Pizza Games isn't blocked for you, and if it is
				check out the <a href="https://sites.google.com/view/docs-drive-1/backup">backup page</a> or the <a href="https://docs.google.com/document/d/1knRs0zbOMznjlTDXDEdGfi2mGBLGUP8FDyv6EpQ30aE/edit?usp=sharing">backup doc</a>for more copies.
			</p>
		</main>
		<Footer />
	</body>
</html>
